services:
  api:
    build: .
    ports:
      - "8080:8080"
      - "9010:9010"
    environment:
      - MONGODB_URI=mongodb://mongodb:27017/faq-db
      - OLLAMA_URL=http://ollama:11434
      - QDRANT_URL=http://qdrant:6333
      - JWT_SECRET=ThisIsSecretForJWTHS512SignatureAlgorithmThatMUSTHave512bitsKeySize
    depends_on:
      - mongodb
      - qdrant
      - ollama

  mongodb:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  mongo-express:
    image: mongo-express
    ports:
      - "8082:8081"
    environment:
      - ME_CONFIG_MONGODB_SERVER=mongodb
      - ME_CONFIG_BASICAUTH=false
    depends_on:
      - mongodb

  qdrant:
    image: qdrant/qdrant
    ports:
      - "6333:6333"
    volumes:
      - qdrant_data:/qdrant/storage

  ollama:
    image: ollama/ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama

volumes:
  mongo_data:
  qdrant_data:
  ollama_data:
